agents/sandbox/github_issue_tracker/workflow.json
{
  "name": "GitHub Issue Age Tracker",
  "_aadp_notes": {
    "agent_name": "github_issue_tracker",
    "workflow_id": "F2lRufWUOXAGv5GB",
    "status": "sandbox",
    "updated": "2026-04-02",
    "changes_this_version": [
      "Added Fetch Agent Config node — reads stale_days and repo from agent_config table",
      "Code node now uses config values with fallbacks (stale_days default 3, repo default thompsmanlearn/claudis)",
      "Added Log Telegram Audit node — records telegram_send action in audit_log after every Telegram delivery",
      "Evaluator concerns from 3/5 score addressed; re-eval still 3/5 due to historical audit ratio artifact (will self-resolve)"
    ]
  },
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "github-issue-tracker", "options": {}},
      "id": "trigger", "name": "Webhook", "type": "n8n-nodes-base.webhook",
      "webhookId": "github-issue-tracker", "typeVersion": 2, "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_config?agent_name=eq.github_issue_tracker&select=metadata",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"}
        ]},
        "options": {}
      },
      "id": "fetch_config", "name": "Fetch Agent Config",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [224, 0]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + ($('Fetch Agent Config').item.json.metadata?.repo ?? 'thompsmanlearn/claudis') + '/issues' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {"parameters": [
          {"name": "state", "value": "open"},
          {"name": "per_page", "value": "50"},
          {"name": "sort", "value": "updated"},
          {"name": "direction", "value": "asc"}
        ]},
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "Accept", "value": "application/vnd.github.v3+json"},
          {"name": "User-Agent", "value": "AADP-Claudis/1.0"}
        ]},
        "options": {"response": {"response": {"neverError": true}}}
      },
      "id": "fetch_issues", "name": "Fetch GitHub Issues",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [448, 0],
      "credentials": {"httpHeaderAuth": {"id": "{{GITHUB_HEADER_AUTH_CREDENTIAL_ID}}", "name": "Header Auth account"}}
    },
    {
      "parameters": {
        "jsCode": "const issues = $input.all();\nconst now = new Date();\nconst config = $('Fetch Agent Config').item.json?.metadata ?? {};\nconst staleDays = config.stale_days ?? 3;\nconst STALE_MS = staleDays * 24 * 60 * 60 * 1000;\nconst repo = config.repo ?? 'thompsmanlearn/claudis';\n\nlet allIssues = [];\nfor (const item of issues) {\n  const data = item.json;\n  if (Array.isArray(data)) { allIssues = allIssues.concat(data); }\n  else if (data && data.number) { allIssues.push(data); }\n}\n\nconst openIssues = allIssues.filter(i => !i.pull_request);\nconst stale = openIssues.filter(issue => (now - new Date(issue.updated_at)) > STALE_MS);\nconst total_open = openIssues.length;\n\nif (stale.length === 0) {\n  return [{ json: { stale_count: 0, total_open, stale_issues: [], repo, stale_days: staleDays,\n    message: `\u2705 GitHub issues (${repo}): ${total_open} open, all active (updated <${staleDays}d).` } }];\n}\n\nconst formatted = stale.map(issue => ({\n  number: issue.number, title: issue.title, url: issue.html_url,\n  days_stale: Math.floor((now - new Date(issue.updated_at)) / (24*60*60*1000)),\n  labels: (issue.labels || []).map(l => l.name).join(', ')\n}));\n\nconst lines = [`\u26a0\ufe0f ${stale.length} stale GitHub issue${stale.length > 1 ? 's' : ''} (>${staleDays}d no activity):`, `Repo: ${repo}`];\nfor (const i of formatted) {\n  lines.push(`#${i.number} (${i.days_stale}d) \u2014 ${i.title.slice(0,55)}`);\n  lines.push(`  ${i.url}`);\n}\nlines.push(`\\nTotal open: ${total_open}`);\n\nreturn [{ json: { stale_count: stale.length, total_open, stale_issues: formatted, repo, stale_days: staleDays, message: lines.join('\\n') } }];"
      },
      "id": "filter_stale", "name": "Filter Stale Issues",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 0]
    },
    {
      "parameters": {
        "method": "POST", "url": "http://localhost:5678/webhook/telegram-quick-send",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({chat_id: 8513796837, message: $json.message}) }}",
        "options": {}
      },
      "id": "send_telegram", "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4,
      "position": [896, -120], "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Content-Type", "value": "application/json"},
          {"name": "Prefer", "value": "return=minimal"}
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ actor: 'github_issue_tracker', action: 'telegram_send', target: 'telegram', details: { chat_id: 8513796837, stale_count: $('Filter Stale Issues').item.json.stale_count, repo: $('Filter Stale Issues').item.json.repo, scan_date: new Date().toISOString().slice(0,10) } }) }}",
        "options": {}
      },
      "id": "log_telegram_audit", "name": "Log Telegram Audit",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [1120, -120], "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Content-Type", "value": "application/json"},
          {"name": "Prefer", "value": "return=minimal"}
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ agent_name: 'github_issue_tracker', experiment_id: 'scan_' + new Date().toISOString().slice(0,10), output_type: 'issue_scan', content: $('Filter Stale Issues').item.json, confidence: 1.0, promoted: false, reviewed_by_bill: false }) }}",
        "options": {}
      },
      "id": "write_output", "name": "Write to experimental_outputs",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [896, 120], "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}"},
          {"name": "Content-Type", "value": "application/json"},
          {"name": "Prefer", "value": "return=minimal"}
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ actor: 'github_issue_tracker', action: 'write_experimental_output', target: 'experimental_outputs', details: { stale_count: $('Filter Stale Issues').item.json.stale_count, total_open: $('Filter Stale Issues').item.json.total_open, scan_date: new Date().toISOString().slice(0,10) } }) }}",
        "options": {}
      },
      "id": "write_audit_log", "name": "Write Audit Log",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [1120, 120], "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Fetch Agent Config", "type": "main", "index": 0}]]},
    "Fetch Agent Config": {"main": [[{"node": "Fetch GitHub Issues", "type": "main", "index": 0}]]},
    "Fetch GitHub Issues": {"main": [[{"node": "Filter Stale Issues", "type": "main", "index": 0}]]},
    "Filter Stale Issues": {"main": [[
      {"node": "Send Telegram", "type": "main", "index": 0},
      {"node": "Write to experimental_outputs", "type": "main", "index": 0}
    ]]},
    "Send Telegram": {"main": [[{"node": "Log Telegram Audit", "type": "main", "index": 0}]]},
    "Write to experimental_outputs": {"main": [[{"node": "Write Audit Log", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}
}
