agents/sandbox/agent_health_monitor/workflow.json
{"updatedAt":"2026-04-01T01:30:25.071Z","createdAt":"2026-03-30T09:42:49.245Z","id":"w5vypq4vb2rSrwdl","name":"Agent Health Monitor","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"agent-health-monitor","position":[100,300],"parameters":{"httpMethod":"POST","path":"agent-health-monitor","responseMode":"onReceived","responseData":"noData"}},{"id":"get_agents","name":"Get Active Agents","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,300],"parameters":{"method":"GET","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.active"},{"name":"workflow_id","value":"not.is.null"},{"name":"select","value":"agent_name,workflow_id"}]}}},{"id":"get_executions","name":"Get Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,300],"continueOnFail":true,"parameters":{"method":"GET","url":"=http://localhost:5678/api/v1/executions?workflowId={{ $json.workflow_id }}&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***CREDENTIAL_REDACTED***"}]}}},{"id":"analyze_all","name":"Analyze All Agents","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// runOnceForAllItems: receives all exec responses, pairs with agent info\nconst execItems = $input.all();\nconst agentItems = $('Get Active Agents').all();\n\nconst reports = [];\nfor (let i = 0; i < execItems.length; i++) {\n  const agentInfo = agentItems[i] ? agentItems[i].json : { agent_name: 'unknown', workflow_id: 'unknown' };\n  const agentName = agentInfo.agent_name;\n  const workflowId = agentInfo.workflow_id;\n  const execData = execItems[i].json;\n\n  if (execData.error || execData.code) {\n    reports.push({ agent_name: agentName, workflow_id: workflowId, status: 'api_error', consecutive_errors: 0, issue: false });\n    continue;\n  }\n  const executions = execData.data || [];\n  if (executions.length === 0) {\n    reports.push({ agent_name: agentName, workflow_id: workflowId, status: 'no_executions', consecutive_errors: 0, issue: false });\n    continue;\n  }\n  let consecutiveErrors = 0;\n  for (const exec of executions) {\n    if (exec.status === 'error') { consecutiveErrors++; } else { break; }\n  }\n  const lastExec = executions[0];\n  reports.push({\n    agent_name: agentName, workflow_id: workflowId,\n    consecutive_errors: consecutiveErrors,\n    should_retire: consecutiveErrors >= 3,\n    last_status: lastExec.status,\n    last_run_at: lastExec.startedAt,\n    issue: consecutiveErrors >= 1\n  });\n}\n\nconst issues = reports.filter(r => r.issue);\nconst retiring = reports.filter(r => r.should_retire);\n\nreturn [{ json: {\n  scan_time: new Date().toISOString(),\n  total_agents_checked: reports.length,\n  agents_with_issues: issues.length,\n  agents_retiring: retiring.length,\n  issues: issues,\n  retiring: retiring,\n  all_reports: reports\n}}];"}},{"id":"write_output","name":"Write Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,300],"continueOnFail":true,"parameters":{"method":"POST","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', experiment_id: 'health_scan_' + new Date().toISOString().slice(0,16).replace(/[T:]/g,'_'), output_type: 'health_scan', content: $('Analyze All Agents').first().json, confidence: 1.0 }) }}"}},{"id":"write_audit_log","name":"Write Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"continueOnFail":true,"parameters":{"method":"POST","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ actor: 'agent_health_monitor', action: 'write_experimental_output', target: 'experimental_outputs', details: { scan_time: $('Analyze All Agents').first().json.scan_time, total_agents_checked: $('Analyze All Agents').first().json.total_agents_checked, agents_with_issues: $('Analyze All Agents').first().json.agents_with_issues, agents_retiring: $('Analyze All Agents').first().json.agents_retiring } }) }}"}},{"id":"check_issues","name":"Check for Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,200],"parameters":{"jsCode":"// Read directly from Analyze All Agents — Write Audit Log returns empty body (Prefer:return=minimal)\nconst report = $('Analyze All Agents').first().json;\nif (!report || report.agents_with_issues === 0) return [];\nreturn [{ json: report }];"}},{"id":"sandbox_notify","name":"Sandbox Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,200],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sandbox-notify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', message: '🔴 Health scan: ' + $json.agents_with_issues + ' agent(s) with consecutive errors (' + $json.agents_retiring + ' need retirement). Issues: ' + $json.issues.map(i => i.agent_name + ' (' + i.consecutive_errors + ' errors)').join(', '), trigger_url: 'http://localhost:5678/webhook/agent-health-monitor' }) }}","options":{"response":{"response":{"responseFormat":"text"}}}},"continueOnFail":true},{"id":"check_retiring","name":"Check Retiring","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,420],"parameters":{"jsCode":"// Read directly from Analyze All Agents — fan out one item per retiring agent\nconst report = $('Analyze All Agents').first().json;\nconst retiring = report.retiring || [];\nif (retiring.length === 0) return [];\n// Return one item per retiring agent so downstream nodes process each individually\nreturn retiring.map(r => ({ json: { ...r, scan_time: report.scan_time } }));"}},{"id":"retire_agent","name":"Retire Agent in Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,420],"continueOnFail":true,"parameters":{"method":"PATCH","url":"=https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry?agent_name=eq.{{ $json.agent_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\": \"paused\"}"}},{"id":"notify_retirement","name":"Notify Retirement","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,420],"continueOnFail":true,"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sandbox-notify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', message: '🚨 AUTO-RETIRED: ' + $('Check Retiring').item.json.agent_name + ' had ' + $('Check Retiring').item.json.consecutive_errors + ' consecutive errors. Status set to paused in registry. Run /activate_agent ' + $('Check Retiring').item.json.agent_name + ' to restore.', trigger_url: 'http://localhost:5678/webhook/agent-health-monitor' }) }}","options":{"response":{"response":{"responseFormat":"text"}}}}}],"connections":{"Webhook":{"main":[[{"node":"Get Active Agents","type":"main","index":0}]]},"Get Active Agents":{"main":[[{"node":"Get Executions","type":"main","index":0}]]},"Get Executions":{"main":[[{"node":"Analyze All Agents","type":"main","index":0}]]},"Analyze All Agents":{"main":[[{"node":"Write Output","type":"main","index":0}]]},"Write Output":{"main":[[{"node":"Write Audit Log","type":"main","index":0}]]},"Write Audit Log":{"main":[[{"node":"Check for Issues","type":"main","index":0},{"node":"Check Retiring","type":"main","index":0}]]},"Check for Issues":{"main":[[{"node":"Sandbox Notify","type":"main","index":0}]]},"Check Retiring":{"main":[[{"node":"Retire Agent in Registry","type":"main","index":0}]]},"Retire Agent in Registry":{"main":[[{"node":"Notify Retirement","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d4e8a27c-d0a0-462d-92d8-6ef0ee16f579","activeVersionId":"d4e8a27c-d0a0-462d-92d8-6ef0ee16f579","versionCounter":49,"triggerCount":1,"shared":[{"updatedAt":"2026-03-30T09:42:49.249Z","createdAt":"2026-03-30T09:42:49.249Z","role":"workflow:owner","workflowId":"w5vypq4vb2rSrwdl","projectId":"1332MGZuLwNany4P","project":{"updatedAt":"2026-03-07T17:29:18.510Z","createdAt":"2026-02-08T17:14:20.266Z","id":"1332MGZuLwNany4P","name":"William Thompson <thompsmanlearn@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792","projectRelations":[{"updatedAt":"2026-02-08T17:14:20.266Z","createdAt":"2026-02-08T17:14:20.266Z","userId":"85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792","projectId":"1332MGZuLwNany4P","user":{"updatedAt":"2026-03-31T09:23:00.000Z","createdAt":"2026-02-08T17:14:19.719Z","id":"85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792","email":"thompsmanlearn@gmail.com","firstName":"William","lastName":"Thompson","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-08T17:27:44.911Z","personalization_survey_n8n_version":"2.6.4","companySize":"<20","companyType":"education","role":"other","roleOther":"High School Teacher","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"RpajIIDI7GF_mkpukB28X","userActivatedAt":1770587372742,"npsSurvey":{"responded":true,"lastShownAt":1771221926271}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T01:30:25.073Z","createdAt":"2026-04-01T01:30:25.073Z","versionId":"d4e8a27c-d0a0-462d-92d8-6ef0ee16f579","workflowId":"w5vypq4vb2rSrwdl","nodes":[{"id":"trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"agent-health-monitor","position":[100,300],"parameters":{"httpMethod":"POST","path":"agent-health-monitor","responseMode":"onReceived","responseData":"noData"}},{"id":"get_agents","name":"Get Active Agents","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,300],"parameters":{"method":"GET","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"eq.active"},{"name":"workflow_id","value":"not.is.null"},{"name":"select","value":"agent_name,workflow_id"}]}}},{"id":"get_executions","name":"Get Executions","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,300],"continueOnFail":true,"parameters":{"method":"GET","url":"=http://localhost:5678/api/v1/executions?workflowId={{ $json.workflow_id }}&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***CREDENTIAL_REDACTED***"}]}}},{"id":"analyze_all","name":"Analyze All Agents","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"// runOnceForAllItems: receives all exec responses, pairs with agent info\nconst execItems = $input.all();\nconst agentItems = $('Get Active Agents').all();\n\nconst reports = [];\nfor (let i = 0; i < execItems.length; i++) {\n  const agentInfo = agentItems[i] ? agentItems[i].json : { agent_name: 'unknown', workflow_id: 'unknown' };\n  const agentName = agentInfo.agent_name;\n  const workflowId = agentInfo.workflow_id;\n  const execData = execItems[i].json;\n\n  if (execData.error || execData.code) {\n    reports.push({ agent_name: agentName, workflow_id: workflowId, status: 'api_error', consecutive_errors: 0, issue: false });\n    continue;\n  }\n  const executions = execData.data || [];\n  if (executions.length === 0) {\n    reports.push({ agent_name: agentName, workflow_id: workflowId, status: 'no_executions', consecutive_errors: 0, issue: false });\n    continue;\n  }\n  let consecutiveErrors = 0;\n  for (const exec of executions) {\n    if (exec.status === 'error') { consecutiveErrors++; } else { break; }\n  }\n  const lastExec = executions[0];\n  reports.push({\n    agent_name: agentName, workflow_id: workflowId,\n    consecutive_errors: consecutiveErrors,\n    should_retire: consecutiveErrors >= 3,\n    last_status: lastExec.status,\n    last_run_at: lastExec.startedAt,\n    issue: consecutiveErrors >= 1\n  });\n}\n\nconst issues = reports.filter(r => r.issue);\nconst retiring = reports.filter(r => r.should_retire);\n\nreturn [{ json: {\n  scan_time: new Date().toISOString(),\n  total_agents_checked: reports.length,\n  agents_with_issues: issues.length,\n  agents_retiring: retiring.length,\n  issues: issues,\n  retiring: retiring,\n  all_reports: reports\n}}];"}},{"id":"write_output","name":"Write Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,300],"continueOnFail":true,"parameters":{"method":"POST","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', experiment_id: 'health_scan_' + new Date().toISOString().slice(0,16).replace(/[T:]/g,'_'), output_type: 'health_scan', content: $('Analyze All Agents').first().json, confidence: 1.0 }) }}"}},{"id":"write_audit_log","name":"Write Audit Log","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,300],"continueOnFail":true,"parameters":{"method":"POST","url":"https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ actor: 'agent_health_monitor', action: 'write_experimental_output', target: 'experimental_outputs', details: { scan_time: $('Analyze All Agents').first().json.scan_time, total_agents_checked: $('Analyze All Agents').first().json.total_agents_checked, agents_with_issues: $('Analyze All Agents').first().json.agents_with_issues, agents_retiring: $('Analyze All Agents').first().json.agents_retiring } }) }}"}},{"id":"check_issues","name":"Check for Issues","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,200],"parameters":{"jsCode":"// Read directly from Analyze All Agents — Write Audit Log returns empty body (Prefer:return=minimal)\nconst report = $('Analyze All Agents').first().json;\nif (!report || report.agents_with_issues === 0) return [];\nreturn [{ json: report }];"}},{"id":"sandbox_notify","name":"Sandbox Notify","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,200],"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sandbox-notify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', message: '🔴 Health scan: ' + $json.agents_with_issues + ' agent(s) with consecutive errors (' + $json.agents_retiring + ' need retirement). Issues: ' + $json.issues.map(i => i.agent_name + ' (' + i.consecutive_errors + ' errors)').join(', '), trigger_url: 'http://localhost:5678/webhook/agent-health-monitor' }) }}","options":{"response":{"response":{"responseFormat":"text"}}}},"continueOnFail":true},{"id":"check_retiring","name":"Check Retiring","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,420],"parameters":{"jsCode":"// Read directly from Analyze All Agents — fan out one item per retiring agent\nconst report = $('Analyze All Agents').first().json;\nconst retiring = report.retiring || [];\nif (retiring.length === 0) return [];\n// Return one item per retiring agent so downstream nodes process each individually\nreturn retiring.map(r => ({ json: { ...r, scan_time: report.scan_time } }));"}},{"id":"retire_agent","name":"Retire Agent in Registry","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,420],"continueOnFail":true,"parameters":{"method":"PATCH","url":"=https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry?agent_name=eq.{{ $json.agent_name }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***CREDENTIAL_REDACTED***"},{"name":"Authorization","value":"Bearer ***CREDENTIAL_REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\"status\": \"paused\"}"}},{"id":"notify_retirement","name":"Notify Retirement","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,420],"continueOnFail":true,"parameters":{"method":"POST","url":"http://localhost:5678/webhook/sandbox-notify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ agent_name: 'agent_health_monitor', message: '🚨 AUTO-RETIRED: ' + $('Check Retiring').item.json.agent_name + ' had ' + $('Check Retiring').item.json.consecutive_errors + ' consecutive errors. Status set to paused in registry. Run /activate_agent ' + $('Check Retiring').item.json.agent_name + ' to restore.', trigger_url: 'http://localhost:5678/webhook/agent-health-monitor' }) }}","options":{"response":{"response":{"responseFormat":"text"}}}}}],"connections":{"Webhook":{"main":[[{"node":"Get Active Agents","type":"main","index":0}]]},"Get Active Agents":{"main":[[{"node":"Get Executions","type":"main","index":0}]]},"Get Executions":{"main":[[{"node":"Analyze All Agents","type":"main","index":0}]]},"Analyze All Agents":{"main":[[{"node":"Write Output","type":"main","index":0}]]},"Write Output":{"main":[[{"node":"Write Audit Log","type":"main","index":0}]]},"Write Audit Log":{"main":[[{"node":"Check for Issues","type":"main","index":0},{"node":"Check Retiring","type":"main","index":0}]]},"Check for Issues":{"main":[[{"node":"Sandbox Notify","type":"main","index":0}]]},"Check Retiring":{"main":[[{"node":"Retire Agent in Registry","type":"main","index":0}]]},"Retire Agent in Registry":{"main":[[{"node":"Notify Retirement","type":"main","index":0}]]}},"authors":"William Thompson","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T01:30:35.450Z","id":363,"workflowId":"w5vypq4vb2rSrwdl","versionId":"d4e8a27c-d0a0-462d-92d8-6ef0ee16f579","event":"activated","userId":"85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792"}]}}