agents/production/agent_evaluator_4pillars/workflow.json
{
  "updatedAt": "2026-04-01T05:26:03.800Z",
  "createdAt": "2026-03-24T11:29:51.106Z",
  "id": "kQ5OALBwexLQS7in",
  "name": "SANDBOX — 4-Pillars Agent Evaluator",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "n-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "evaluate-agent",
      "parameters": {
        "path": "evaluate-agent",
        "httpMethod": "GET",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "n-parse",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $json;\nconst agentName = (raw.query && raw.query.agent_name)\n  || (raw.body && raw.body.agent_name)\n  || raw.agent_name\n  || 'haiku_self_critic';\nreturn [{json: {agent_name: agentName}}];"
      }
    },
    {
      "id": "n-get-agent",
      "name": "Get Agent Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***CREDENTIAL_REDACTED***"
            },
            {
              "name": "Authorization",
              "value": "Bearer ***CREDENTIAL_REDACTED***"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "={{ 'eq.' + $json.agent_name }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n-extract-agent",
      "name": "Extract Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst agent = arr.length > 0 ? arr[0] : {};\nreturn [{\n  json: {\n    agent_info: agent,\n    agent_name: agent.agent_name || $('Parse Input').item.json.agent_name,\n    workflow_id: agent.workflow_id || null,\n    status: agent.status || 'unknown',\n    telegram_command: agent.telegram_command || null\n  }\n}];"
      }
    },
    {
      "id": "n-fetch-outputs-http",
      "name": "Fetch Agent Outputs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:9100/get_outputs?agent_name=' + encodeURIComponent($('Extract Agent').first().json.agent_name) + '&limit=5&exclude_type=4pillars_evaluation' }}",
        "options": {}
      }
    },
    {
      "id": "n-fetch-audit",
      "name": "Fetch Audit Entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://host.docker.internal:9100/get_audit?agent_name=' + encodeURIComponent($('Extract Agent').first().json.agent_name) + '&limit=15' }}",
        "options": {}
      }
    },
    {
      "id": "n-get-outputs",
      "name": "Get Recent Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const agentNode = $('Extract Agent').first().json;\nconst agentStatus = agentNode.status;\n\n// Outputs from stats server /get_outputs\nconst resp = $('Fetch Agent Outputs').first().json;\nconst outputs = (resp && Array.isArray(resp.outputs)) ? resp.outputs : [];\n\n// Audit entries from stats server /get_audit\nconst auditResp = $('Fetch Audit Entries').first().json;\nconst auditEvidence = (auditResp && Array.isArray(auditResp.entries)) ? auditResp.entries : [];\n\nreturn [{json: {\n  outputs,\n  auditEvidence,\n  _has_outputs: outputs.length > 0,\n  _is_production: agentStatus === 'active'\n}}];"
      }
    },
    {
      "id": "n-build-prompt",
      "name": "Build Eval Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const agentNode = $('Extract Agent').first().json;\nconst agentInfo = agentNode.agent_info || {};\nconst agentName = agentNode.agent_name || 'unknown';\nconst telegramCommand = agentNode.telegram_command;\nconst agentStatus = agentNode.status || 'unknown';\nconst outputsArr = $json.outputs || [];\nconst auditEvidence = $json.auditEvidence || [];\nconst isProduction = $json._is_production || false;\n\nfunction flattenContent(content, maxLen) {\n  if (!content) return '(empty)';\n  if (typeof content === 'string') return content.slice(0, maxLen);\n  if (typeof content === 'object') {\n    const STRIP_KEYS = ['connection', '__type', '_meta', 'pairedItem', 'json'];\n    const clean = {};\n    for (const [k, v] of Object.entries(content)) {\n      if (!STRIP_KEYS.includes(k)) clean[k] = v;\n    }\n    return JSON.stringify(clean).slice(0, maxLen);\n  }\n  return String(content).slice(0, maxLen);\n}\n\n// Build outputs section\nlet outputsSection;\nif (outputsArr.length > 0) {\n  outputsSection = outputsArr.slice(0,3).map((o, i) => {\n    const contentStr = flattenContent(o.content, 1200);\n    return `Output ${i+1} [${o.experiment_id||'?'}] type=${o.output_type||'?'} confidence=${o.confidence||'?'}:\\n${contentStr}`;\n  }).join('\\n\\n');\n} else if (isProduction) {\n  outputsSection = `Active production agent (telegram_command: ${telegramCommand || 'none'}). Outputs delivered to Telegram, not experimental_outputs.`;\n} else {\n  outputsSection = 'No experimental outputs recorded — agent has not been run or is newly registered.';\n}\n\n// Build audit section\nlet auditSection;\nif (auditEvidence.length > 0) {\n  const auditLines = auditEvidence.slice(0, 10).map(e => {\n    const ts = (e.timestamp || '?').slice(0, 19);\n    const details = e.details ? JSON.stringify(e.details).slice(0, 150) : '';\n    return `[${ts}] action=${e.action||'?'} target=${e.target||'?'}${details ? ' details=' + details : ''}`;\n  }).join('\\n');\n  auditSection = `- Entries found: ${auditEvidence.length}\\n- Agent type: [infer from description and data_sources]\\n${auditLines}`;\n} else {\n  auditSection = `- Entries found: 0\\n- Agent type: [infer from description and data_sources]\\nNone — evaluate absence per audit guidance above`;\n}\n\nconst recOptions = isProduction\n  ? 'maintain (keep running as-is) | needs_work (requires fixes before next Sentinel cycle) | retire (decommission)'\n  : 'promote (ready for production promotion) | keep_sandbox (promising, needs more testing) | needs_work (requires fixes) | retire (concept not worth pursuing)';\n\nconst SYSTEM_PROMPT = `You are the 4-Pillars Evaluator for the Autonomous Agent Development Platform (AADP), a personal AI automation system running on a Raspberry Pi 5. AADP is operated by Bill Thompson, a high school teacher building autonomous AI agents to extend his cognitive capacity across research, monitoring, and personal intelligence workflows. Your role is to deliver rigorous, honest, calibrated assessments that help Bill and Claudis (the primary AI architect, running as Claude Code) make sound promotion, maintenance, and retirement decisions.\n\nAADP INFRASTRUCTURE MAP\nAgents are n8n workflows (v2.6.4) running in Docker on the Pi. They call Claude Haiku or Sonnet via the Anthropic API, read/write to Supabase (PostgreSQL via REST API) and ChromaDB (vector memory at localhost:8000 inside Docker), and deliver results to Bill via Telegram. A stats server runs on the Pi host at port 9100, bridging Docker containers to the host systemd layer. Sentinel is Claude Code running headless via systemd every 8 hours — it is the autonomous scheduler that fires agents by calling webhook URLs stored in agent_config.metadata.webhook_url.\n\nV2 ARCHITECTURE RULES (critical for integration_fit scoring)\nAll production agents must use webhook-only triggers. Schedule Triggers inside n8n workflows violate V2 and cause duplicate runs when Sentinel also fires the webhook. Every agent must be registered in agent_registry with correct metadata and linked workflow_id. Runtime config (webhook URLs, thresholds) belongs in agent_config, not hardcoded in Code node JS. Every state-mutating operation must write an entry to audit_log with actor=agent_name. The correct Supabase tables are: agent_registry, agent_prompts, agent_config, work_queue, audit_log, error_logs, ideas, session_notes, experimental_outputs. ChromaDB collections: reference_material, agent_templates, lessons_learned, error_patterns, research_findings. n8n credential nodes (the built-in credential store) are acceptable for secrets. Plain-text API keys hardcoded as string literals in Code node JS are a convention violation.\n\nEVALUATION PILLARS\n\nPILLAR 1 — BEHAVIOR CONSISTENCY (score 1–5)\nDoes the agent's actual behavior match its stated description and purpose?\n\nEvidence hierarchy: Use all available evidence — experimental outputs, n8n execution records, and audit entries — weighted by what the agent's description claims it does.\n\nAudit entry guidance:\n- If audit entries are present: treat them as ground-truth confirmation of described behavior.\n- If audit entries are absent AND the agent mutates Supabase, work_queue, or system state: treat absence as a mild negative signal. Mutation-capable agents should be logging. Weight against other evidence — don't fail on absence alone.\n- If audit entries are absent AND the agent is legitimately read-only or ChromaDB-only: absence is neutral. Do not penalize.\n\nScore 5: Described behaviors fully evidenced across all available signals.\nScore 4: Strong alignment with one minor unverified claim, or one expected audit entry missing from an otherwise well-evidenced agent.\nScore 3: Partial alignment. Some described behaviors unverified, or audit absence unexplained for a mutation-capable agent.\nScore 2: Material mismatch. Key described features absent, or mutation-capable agent with zero audit participation and weak output evidence.\nScore 1: Description and behavior contradict each other, or agent is non-functional.\n\nCritical rule: Do NOT penalize active production agents for lacking experimental_outputs. Use execution records and audit entries as behavioral evidence. Do NOT score sandbox agents highly if they have never run and have no evidence of any kind.\n\nPILLAR 2 — OUTPUT QUALITY (score 1–5)\nIs the content of the agent's output well-formed, accurate, and genuinely valuable to Bill?\n\nScore 5: Output is precise, well-structured, actionable, and surfaces insights Bill would otherwise miss. Clearly worth the API and compute cost.\nScore 4: High quality with minor issues — slight verbosity, one imprecise claim, minor formatting inconsistency.\nScore 3: Functional but generic. Output could be improved with better prompting, richer data, or tighter scope. Bill would read it but might not act on it.\nScore 2: Output has factual errors, structural problems, or low information density. Would not prompt Bill to act.\nScore 1: Output is malformed, empty, fabricated, or actively misleading.\n\nKey question: Would Bill read this output and find it worth his attention? For agents that synthesize multiple data sources, evaluate whether the synthesis adds value beyond what the raw data alone provides. For Haiku-as-judge agents, evaluate whether the scoring is calibrated or shows systematic bias.\n\nPILLAR 3 — RELIABILITY (score 1–5)\nDoes the agent handle errors, edge cases, and Pi infrastructure variability gracefully?\n\nScore 5: Explicit error handling at every external call (Anthropic API, Supabase, ChromaDB, n8n, Telegram). Graceful degradation: returns safe defaults instead of crashing, uses lock files to prevent concurrent runs, respects timeouts, checks for empty work queues before processing, handles empty arrays without halting the n8n chain.\nScore 4: Handles common error paths. Minor edge cases unaddressed but unlikely to cause failures in practice.\nScore 3: Basic try/catch present but error paths are incomplete. Could fail silently or leave state corrupted on uncommon failures.\nScore 2: Fragile. Likely to break on common failure modes: API timeout, empty Supabase response, rate limit hit, ChromaDB connection refused. No meaningful fallbacks.\nScore 1: No error handling. A single upstream failure will crash silently, corrupt work_queue state, leave orphaned lock files, or cause the n8n chain to halt.\n\nPi-specific reliability concerns: The Pi has constrained RAM and CPU. Agents that over-fetch without LIMIT clauses, hold large payloads in memory across multiple nodes, or make unbounded loops are reliability risks even if they work under normal conditions. The known n8n 2.6.4 bug where an empty array response halts the execution chain is a reliability gap if not mitigated with the always-return-one-item pattern.\n\nPILLAR 4 — INTEGRATION FIT (score 1–5)\nDoes the agent use AADP infrastructure and conventions correctly and efficiently?\n\nScore 5: Fully V2-compliant: webhook-only trigger, registered in agent_registry, config in agent_config, audit_log written on every state mutation, correct Supabase tables and ChromaDB collections used, no plain-text secrets in Code nodes.\nScore 4: Follows most conventions with one minor acceptable deviation — e.g., missing a single audit_log entry for a read-only operation, or one config value hardcoded at low risk.\nScore 3: Functional but partially off-pattern. Examples: has an internal Schedule Trigger (V2 violation), skips audit logging for state mutations, writes to non-standard tables, or duplicates logic that belongs in a shared service.\nScore 2: Multiple convention violations that could conflict with Sentinel scheduling, pollute shared tables, or make the agent difficult to maintain or extend.\nScore 1: Fundamental architecture violation: Schedule Trigger instead of webhook, no registry entry, secrets hardcoded as plain text in Code nodes, or the agent writes to tables it has no business touching.\n\nSCORING PHILOSOPHY\nBe calibrated, not generous. A score of 3 is functional with meaningful room for improvement. Reserve 4 for genuinely solid work and 5 for excellent work that sets the standard. An agent with no error handling should not score above 3 on reliability. An agent with a Schedule Trigger should not score above 2 on integration_fit.\n\nBe evidence-based. Score what you can observe: output content, execution records, audit log entries, workflow structure, description alignment. Do not speculate beyond available evidence.\n\nBe actionable. Every notes field for a score below 4 must name the specific thing to fix. Every notes field for a score of 5 must explain why it earned the top mark — not just good quality.\n\nWeigh the overall_score holistically. It is your judgment call, not a mechanical average. An agent that scores 5/5/5/1 has a systemic integration failure — its overall_score should reflect that severity. An agent with all 3s that has clean architecture and a clear upgrade path deserves a 3, not a 4.\n\nOUTPUT FORMAT\nReturn ONLY valid JSON. No preamble, no explanation, no markdown code fencing. The recommendation field must exactly match one of the valid values provided in the user message — use the short form before the parenthetical description.\n\n{\"behavior_consistency\":{\"score\":0,\"notes\":\"\"},\"output_quality\":{\"score\":0,\"notes\":\"\"},\"reliability\":{\"score\":0,\"notes\":\"\"},\"integration_fit\":{\"score\":0,\"notes\":\"\"},\"overall_score\":0,\"recommendation\":\"\",\"summary\":\"\"}\n\nThe summary should be 1–2 sentences suitable for a Telegram notification to Bill. Write it as a direct statement about the agent, not as a meta-description of the evaluation process.\n\nCOMMON FAILURE PATTERNS (watch for these when evaluating)\nThese patterns have caused real AADP incidents. Penalize them appropriately across pillars.\n\nSilent failures: agent completes with status=success but writes nothing, notifies nobody, and logs no audit entry. Common when empty arrays halt the n8n chain without error. Penalize on reliability and behavior_consistency.\n\nDuplicate scheduling: agent has both a Schedule Trigger in n8n AND a Sentinel webhook entry. Causes double execution every 8 hours, doubling API costs and corrupting work_queue state. Hard penalize on integration_fit.\n\nPrompt hallucination: Haiku or Sonnet returns plausible-sounding but fabricated content (URLs that don't exist, statistics without sources, events that didn't happen). Penalize heavily on output_quality.\n\nConfig hardcoding: webhook URLs, thresholds, or toggle flags embedded in Code node JS instead of agent_config. Makes the agent unmodifiable without a code deploy. Penalize on integration_fit.\n\nOver-broad table reads: Supabase query fetches all rows without a WHERE clause or LIMIT. Works in development, causes timeouts or memory exhaustion as tables grow. Penalize on reliability.\n\nMissing audit trail: agent modifies work_queue, experimental_outputs, or agent_registry without writing a corresponding audit_log entry. Makes incident investigation impossible. Penalize on integration_fit.`;\n\nconst userContent = `AGENT TO EVALUATE:\nName: ${agentInfo.display_name || agentName}\nInternal ID: ${agentName}\nType: ${agentInfo.agent_type || 'unknown'}\nStatus: ${agentStatus}\nTelegram Command: ${telegramCommand || 'none'}\nSchedule: ${agentInfo.schedule || 'on_demand'}\nData Sources: ${JSON.stringify(agentInfo.data_sources || [])}\n\nDescription:\n${agentInfo.description || 'No description available'}\n\nEXPERIMENTAL OUTPUTS (${outputsArr.length} records):\n${outputsSection}\n\nAUDIT EVIDENCE (ground-truth behavioral log):\n${auditSection}\n\nVALID RECOMMENDATION VALUES (status=${agentStatus}):\n${recOptions}`;\n\nconst body = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 1500,\n  system: [{ type: 'text', text: SYSTEM_PROMPT, cache_control: { type: 'ephemeral' } }],\n  messages: [{ role: 'user', content: userContent }]\n};\n\nreturn [{ json: { haiku_body: JSON.stringify(body), agent_name: agentName } }];"
      }
    },
    {
      "id": "n-call-haiku",
      "name": "Call Sonnet Evaluator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "***CREDENTIAL_REDACTED***"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.haiku_body }}"
      }
    },
    {
      "id": "n-format-eval",
      "name": "Format Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "jsCode": "const haikuResp = $json;\nconst buildNode = $('Build Eval Prompt').first().json;\nconst agentName = buildNode.agent_name || 'unknown';\n\nconst raw = (haikuResp.content && haikuResp.content[0]) ? haikuResp.content[0].text : '{}';\nlet parsed = {\n  behavior_consistency:{score:3,notes:'parse_failed'},\n  output_quality:{score:3,notes:'parse_failed'},\n  reliability:{score:3,notes:'parse_failed'},\n  integration_fit:{score:3,notes:'parse_failed'},\n  overall_score:3, recommendation:'keep_sandbox', summary:'Evaluation incomplete'\n};\ntry {\n  const s = raw.indexOf('{');\n  const e = raw.lastIndexOf('}');\n  if (s >= 0 && e > s) parsed = JSON.parse(raw.slice(s, e+1));\n} catch(err) {}\n\nconst cacheStats = haikuResp.usage ? {\n  input_tokens: haikuResp.usage.input_tokens,\n  cache_creation_tokens: haikuResp.usage.cache_creation_input_tokens || 0,\n  cache_read_tokens: haikuResp.usage.cache_read_input_tokens || 0,\n  output_tokens: haikuResp.usage.output_tokens\n} : {};\n\nconst today = new Date().toISOString().slice(0,10);\nconst record = {\n  agent_name: agentName,\n  experiment_id: `4pillars_eval_${agentName}_${today}`,\n  output_type: '4pillars_evaluation',\n  content: parsed,\n  confidence: ((parsed.overall_score || 3) / 5.0),\n  promoted: false,\n  reviewed_by_bill: false\n};\nreturn [{json: {body_json: JSON.stringify(record), eval_summary: parsed.summary || '', recommendation: parsed.recommendation || '', overall_score: parsed.overall_score || 0, cache_stats: cacheStats}}];"
      }
    },
    {
      "id": "n-write",
      "name": "Write to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***CREDENTIAL_REDACTED***"
            },
            {
              "name": "apikey",
              "value": "***CREDENTIAL_REDACTED***"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body_json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Agent Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Registry": {
      "main": [
        [
          {
            "node": "Extract Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Agent": {
      "main": [
        [
          {
            "node": "Fetch Agent Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Outputs": {
      "main": [
        [
          {
            "node": "Fetch Audit Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Audit Entries": {
      "main": [
        [
          {
            "node": "Get Recent Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Outputs": {
      "main": [
        [
          {
            "node": "Build Eval Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Eval Prompt": {
      "main": [
        [
          {
            "node": "Call Sonnet Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sonnet Evaluator": {
      "main": [
        [
          {
            "node": "Format Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Evaluation": {
      "main": [
        [
          {
            "node": "Write to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0a8a71e0-9c3a-4b0e-a99a-3a597063e6d3",
  "activeVersionId": null,
  "versionCounter": 71,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T11:29:51.111Z",
      "createdAt": "2026-03-24T11:29:51.111Z",
      "role": "workflow:owner",
      "workflowId": "kQ5OALBwexLQS7in",
      "projectId": "1332MGZuLwNany4P",
      "project": {
        "updatedAt": "2026-03-07T17:29:18.510Z",
        "createdAt": "2026-02-08T17:14:20.266Z",
        "id": "1332MGZuLwNany4P",
        "name": "William Thompson <thompsmanlearn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
        "projectRelations": [
          {
            "updatedAt": "2026-02-08T17:14:20.266Z",
            "createdAt": "2026-02-08T17:14:20.266Z",
            "userId": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
            "projectId": "1332MGZuLwNany4P",
            "user": {
              "updatedAt": "2026-03-31T09:23:00.000Z",
              "createdAt": "2026-02-08T17:14:19.719Z",
              "id": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
              "email": "thompsmanlearn@gmail.com",
              "firstName": "William",
              "lastName": "Thompson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-08T17:27:44.911Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companySize": "<20",
                "companyType": "education",
                "role": "other",
                "roleOther": "High School Teacher",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RpajIIDI7GF_mkpukB28X",
                "userActivatedAt": 1770587372742,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771221926271
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}