agents/production/agent_evaluator_4pillars/workflow.json
{
  "updatedAt": "2026-03-30T17:40:06.212Z",
  "createdAt": "2026-03-24T11:29:51.106Z",
  "id": "kQ5OALBwexLQS7in",
  "name": "SANDBOX \u2014 4-Pillars Agent Evaluator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "n-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "evaluate-agent",
      "parameters": {
        "path": "evaluate-agent",
        "httpMethod": "GET",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      }
    },
    {
      "id": "n-parse",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $json;\n// Handle GET (query params) and POST (body)\nconst agentName = (raw.query && raw.query.agent_name)\n  || (raw.body && raw.body.agent_name)\n  || raw.agent_name\n  || 'haiku_self_critic';\nreturn [{json: {agent_name: agentName}}];"
      }
    },
    {
      "id": "n-get-agent",
      "name": "Get Agent Registry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "{{CREDENTIAL_REDACTED}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{CREDENTIAL_REDACTED}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_name",
              "value": "={{ 'eq.' + $json.agent_name }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n-extract-agent",
      "name": "Extract Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "jsCode": "const raw = $json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst agent = arr.length > 0 ? arr[0] : {};\nreturn [{\n  json: {\n    agent_info: agent,\n    agent_name: agent.agent_name || $('Parse Input').item.json.agent_name,\n    workflow_id: agent.workflow_id || null,\n    status: agent.status || 'unknown',\n    telegram_command: agent.telegram_command || null\n  }\n}];"
      }
    },
    {
      "id": "n-get-outputs",
      "name": "Get Recent Outputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "// Always returns exactly 1 item \u2014 fixes n8n 0-item chain-stop bug\nconst agentNode = $('Extract Agent').first().json;\nconst agentName = agentNode.agent_name;\nconst workflowId = agentNode.workflow_id;\nconst agentStatus = agentNode.status;\nconst apiKey = '{{CREDENTIAL_REDACTED}}';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nlet outputs = [];\ntry {\n  const url = `https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs?agent_name=eq.${encodeURIComponent(agentName)}&order=created_at.desc&limit=3`;\n  const resp = await fetch(url, { headers });\n  const data = await resp.json();\n  outputs = Array.isArray(data) ? data : [];\n} catch(e) { outputs = []; }\n\nlet auditEvidence = [];\nif (outputs.length === 0 && agentStatus === 'active' && workflowId) {\n  try {\n    const auditUrl = `https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log?target=like.n8n_workflow:${encodeURIComponent(workflowId)}*&order=timestamp.desc&limit=5`;\n    const auditResp = await fetch(auditUrl, { headers });\n    const auditData = await auditResp.json();\n    auditEvidence = Array.isArray(auditData) ? auditData : [];\n  } catch(e) { auditEvidence = []; }\n  try {\n    const n8nKey = '{{CREDENTIAL_REDACTED}}';\n    const execUrl = `http://localhost:5678/api/v1/executions?workflowId=${workflowId}&limit=3`;\n    const execResp = await fetch(execUrl, { headers: { 'X-N8N-API-KEY': n8nKey } });\n    const execData = await execResp.json();\n    const executions = Array.isArray(execData.data) ? execData.data : [];\n    if (executions.length > 0) {\n      auditEvidence = auditEvidence.concat(executions.map(e => ({source:'n8n_execution',status:e.status,startedAt:e.startedAt,stoppedAt:e.stoppedAt,mode:e.mode})));\n    }\n  } catch(e) {}\n}\n\nreturn [{json: {outputs, auditEvidence, _has_outputs: outputs.length > 0, _is_production: agentStatus === 'active'}}];"
      }
    },
    {
      "id": "n-build-prompt",
      "name": "Build Eval Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const agentNode = $('Extract Agent').first().json;\nconst agentInfo = agentNode.agent_info || {};\nconst agentName = agentNode.agent_name || 'unknown';\nconst telegramCommand = agentNode.telegram_command;\nconst agentStatus = agentNode.status || 'unknown';\nconst outputsArr = $json.outputs || [];\nconst auditEvidence = $json.auditEvidence || [];\nconst isProduction = $json._is_production || false;\n\nfunction flattenContent(content, maxLen) {\n  if (!content) return '(empty)';\n  if (typeof content === 'string') return content.slice(0, maxLen);\n  if (typeof content === 'object') {\n    const STRIP_KEYS = ['connection', '__type', '_meta', 'pairedItem', 'json'];\n    const clean = {};\n    for (const [k, v] of Object.entries(content)) {\n      if (!STRIP_KEYS.includes(k)) clean[k] = v;\n    }\n    return JSON.stringify(clean).slice(0, maxLen);\n  }\n  return String(content).slice(0, maxLen);\n}\n\nlet evidenceSection;\nif (outputsArr.length > 0) {\n  evidenceSection = outputsArr.slice(0,3).map((o, i) => {\n    const contentStr = flattenContent(o.content, 400);\n    return `Output ${i+1} [${o.experiment_id||'?'}] type=${o.output_type||'?'} confidence=${o.confidence||'?'}:\\n${contentStr}`;\n  }).join('\\n\\n');\n} else if (isProduction && auditEvidence.length > 0) {\n  const auditStr = auditEvidence.slice(0,5).map(e => {\n    if (e.source === 'n8n_execution') return `n8n execution: status=${e.status} started=${e.startedAt} mode=${e.mode}`;\n    return `Audit: action=${e.action||'?'} target=${e.target||'?'} at=${e.timestamp||'?'}`;\n  }).join('\\n');\n  evidenceSection = `This is an active production agent that sends output to Telegram (command: ${telegramCommand || 'none'}).\\nNo experimental_outputs expected \u2014 it writes to Telegram. Evidence from execution history:\\n${auditStr}`;\n} else if (isProduction) {\n  evidenceSection = `This is an active production agent (telegram_command: ${telegramCommand || 'none'}).\\nIt sends output to Telegram rather than experimental_outputs. No recent execution records found.\\nEvaluate based on description and architecture.`;\n} else {\n  evidenceSection = 'No outputs recorded yet \u2014 agent has not been run or is newly registered.';\n}\n\n// Status-aware recommendation options\nconst recOptions = isProduction\n  ? 'maintain (keep running as-is)|needs_work (has issues requiring fixes)|retire (should be decommissioned)'\n  : 'promote (ready for production)|keep_sandbox (promising but needs more testing)|needs_work (has issues requiring fixes)|retire (concept not worth pursuing)';\n\nconst prompt = `Evaluate this AADP agent on 4 pillars. Return ONLY valid JSON.\\n\\nAGENT PROFILE:\\nName: ${agentInfo.display_name || agentName}\\nType: ${agentInfo.agent_type || 'unknown'}\\nStatus: ${agentStatus}\\nDescription: ${agentInfo.description || 'No description available'}\\nData Sources: ${JSON.stringify(agentInfo.data_sources || [])}\\nSchedule: ${agentInfo.schedule || 'on_demand'}\\nTelegram Command: ${telegramCommand || 'none'}\\n\\nEVIDENCE (${outputsArr.length} experimental outputs, ${auditEvidence.length} audit/exec records):\\n${evidenceSection}\\n\\nEVALUATION PILLARS:\\n1. behavior_consistency \u2014 Does output/evidence match stated description/purpose?\\n2. output_quality \u2014 Is content well-formed, factually plausible, valuable to Bill?\\n3. reliability \u2014 Would it handle errors/edge cases gracefully?\\n4. integration_fit \u2014 Does it use AADP infrastructure and conventions well?\\n\\nIMPORTANT: Active production agents (status=active) are proven working \u2014 do not penalize for missing experimental_outputs.\\n\\nVALID RECOMMENDATION VALUES for this agent (status=${agentStatus}):\\n${recOptions}\\n\\nReturn this exact JSON (scores 1-5, 1=poor 5=excellent):\\n{\"behavior_consistency\":{\"score\":0,\"notes\":\"\"},\"output_quality\":{\"score\":0,\"notes\":\"\"},\"reliability\":{\"score\":0,\"notes\":\"\"},\"integration_fit\":{\"score\":0,\"notes\":\"\"},\"overall_score\":0,\"recommendation\":\"one of the valid values above\",\"summary\":\"\"}`;\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 700,\n  messages: [{role: 'user', content: prompt}]\n};\nreturn [{json: {haiku_body: JSON.stringify(body), agent_name: agentName}}];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "n-call-haiku",
      "name": "Call Haiku Evaluator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "{{CREDENTIAL_REDACTED}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.haiku_body }}"
      }
    },
    {
      "id": "n-format-eval",
      "name": "Format Evaluation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ],
      "parameters": {
        "jsCode": "const haikuResp = $json;\nconst buildNode = $('Build Eval Prompt').first().json;\nconst agentName = buildNode.agent_name || 'unknown';\n\nconst raw = (haikuResp.content && haikuResp.content[0]) ? haikuResp.content[0].text : '{}';\nlet parsed = {\n  behavior_consistency:{score:3,notes:'parse_failed'},\n  output_quality:{score:3,notes:'parse_failed'},\n  reliability:{score:3,notes:'parse_failed'},\n  integration_fit:{score:3,notes:'parse_failed'},\n  overall_score:3, recommendation:'keep_sandbox', summary:'Evaluation incomplete'\n};\ntry {\n  const s = raw.indexOf('{');\n  const e = raw.lastIndexOf('}');\n  if (s >= 0 && e > s) parsed = JSON.parse(raw.slice(s, e+1));\n} catch(err) {}\n\nconst today = new Date().toISOString().slice(0,10);\nconst record = {\n  agent_name: agentName,\n  experiment_id: `4pillars_eval_${agentName}_${today}`,\n  output_type: '4pillars_evaluation',\n  content: parsed,\n  confidence: ((parsed.overall_score || 3) / 5.0),\n  promoted: false,\n  reviewed_by_bill: false\n};\nreturn [{json: {body_json: JSON.stringify(record), eval_summary: parsed.summary || '', recommendation: parsed.recommendation || '', overall_score: parsed.overall_score || 0}}];"
      }
    },
    {
      "id": "n-write",
      "name": "Write to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{CREDENTIAL_REDACTED}}"
            },
            {
              "name": "apikey",
              "value": "{{CREDENTIAL_REDACTED}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.body_json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Agent Registry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Registry": {
      "main": [
        [
          {
            "node": "Extract Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Agent": {
      "main": [
        [
          {
            "node": "Get Recent Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Outputs": {
      "main": [
        [
          {
            "node": "Build Eval Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Eval Prompt": {
      "main": [
        [
          {
            "node": "Call Haiku Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Haiku Evaluator": {
      "main": [
        [
          {
            "node": "Format Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Evaluation": {
      "main": [
        [
          {
            "node": "Write to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "4bcf9bfe-fe56-4f33-b81c-56e273c853a9",
  "activeVersionId": "4bcf9bfe-fe56-4f33-b81c-56e273c853a9",
  "versionCounter": 38,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-24T11:29:51.111Z",
      "createdAt": "2026-03-24T11:29:51.111Z",
      "role": "workflow:owner",
      "workflowId": "kQ5OALBwexLQS7in",
      "projectId": "1332MGZuLwNany4P",
      "project": {
        "updatedAt": "2026-03-07T17:29:18.510Z",
        "createdAt": "2026-02-08T17:14:20.266Z",
        "id": "1332MGZuLwNany4P",
        "name": "William Thompson <thompsmanlearn@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
        "projectRelations": [
          {
            "updatedAt": "2026-02-08T17:14:20.266Z",
            "createdAt": "2026-02-08T17:14:20.266Z",
            "userId": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
            "projectId": "1332MGZuLwNany4P",
            "user": {
              "updatedAt": "2026-03-30T09:46:07.000Z",
              "createdAt": "2026-02-08T17:14:19.719Z",
              "id": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792",
              "email": "thompsmanlearn@gmail.com",
              "firstName": "William",
              "lastName": "Thompson",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-08T17:27:44.911Z",
                "personalization_survey_n8n_version": "2.6.4",
                "companySize": "<20",
                "companyType": "education",
                "role": "other",
                "roleOther": "High School Teacher",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "RpajIIDI7GF_mkpukB28X",
                "userActivatedAt": 1770587372742,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771221926271
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-30T17:40:06.214Z",
    "createdAt": "2026-03-30T17:40:06.214Z",
    "versionId": "4bcf9bfe-fe56-4f33-b81c-56e273c853a9",
    "workflowId": "kQ5OALBwexLQS7in",
    "nodes": [
      {
        "id": "n-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "webhookId": "evaluate-agent",
        "parameters": {
          "path": "evaluate-agent",
          "httpMethod": "GET",
          "responseMode": "onReceived",
          "responseData": "allEntries"
        }
      },
      {
        "id": "n-parse",
        "name": "Parse Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "const raw = $json;\n// Handle GET (query params) and POST (body)\nconst agentName = (raw.query && raw.query.agent_name)\n  || (raw.body && raw.body.agent_name)\n  || raw.agent_name\n  || 'haiku_self_critic';\nreturn [{json: {agent_name: agentName}}];"
        }
      },
      {
        "id": "n-get-agent",
        "name": "Get Agent Registry",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "method": "GET",
          "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/agent_registry",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "{{CREDENTIAL_REDACTED}}"
              },
              {
                "name": "Authorization",
                "value": "Bearer {{CREDENTIAL_REDACTED}}"
              }
            ]
          },
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "agent_name",
                "value": "={{ 'eq.' + $json.agent_name }}"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "n-extract-agent",
        "name": "Extract Agent",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ],
        "parameters": {
          "jsCode": "const raw = $json;\nconst arr = Array.isArray(raw) ? raw : [raw];\nconst agent = arr.length > 0 ? arr[0] : {};\nreturn [{\n  json: {\n    agent_info: agent,\n    agent_name: agent.agent_name || $('Parse Input').item.json.agent_name,\n    workflow_id: agent.workflow_id || null,\n    status: agent.status || 'unknown',\n    telegram_command: agent.telegram_command || null\n  }\n}];"
        }
      },
      {
        "id": "n-get-outputs",
        "name": "Get Recent Outputs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          300
        ],
        "parameters": {
          "jsCode": "// Always returns exactly 1 item \u2014 fixes n8n 0-item chain-stop bug\nconst agentNode = $('Extract Agent').first().json;\nconst agentName = agentNode.agent_name;\nconst workflowId = agentNode.workflow_id;\nconst agentStatus = agentNode.status;\nconst apiKey = '{{CREDENTIAL_REDACTED}}';\nconst headers = { 'apikey': apiKey, 'Authorization': 'Bearer ' + apiKey };\n\nlet outputs = [];\ntry {\n  const url = `https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs?agent_name=eq.${encodeURIComponent(agentName)}&order=created_at.desc&limit=3`;\n  const resp = await fetch(url, { headers });\n  const data = await resp.json();\n  outputs = Array.isArray(data) ? data : [];\n} catch(e) { outputs = []; }\n\nlet auditEvidence = [];\nif (outputs.length === 0 && agentStatus === 'active' && workflowId) {\n  try {\n    const auditUrl = `https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/audit_log?target=like.n8n_workflow:${encodeURIComponent(workflowId)}*&order=timestamp.desc&limit=5`;\n    const auditResp = await fetch(auditUrl, { headers });\n    const auditData = await auditResp.json();\n    auditEvidence = Array.isArray(auditData) ? auditData : [];\n  } catch(e) { auditEvidence = []; }\n  try {\n    const n8nKey = '{{CREDENTIAL_REDACTED}}';\n    const execUrl = `http://localhost:5678/api/v1/executions?workflowId=${workflowId}&limit=3`;\n    const execResp = await fetch(execUrl, { headers: { 'X-N8N-API-KEY': n8nKey } });\n    const execData = await execResp.json();\n    const executions = Array.isArray(execData.data) ? execData.data : [];\n    if (executions.length > 0) {\n      auditEvidence = auditEvidence.concat(executions.map(e => ({source:'n8n_execution',status:e.status,startedAt:e.startedAt,stoppedAt:e.stoppedAt,mode:e.mode})));\n    }\n  } catch(e) {}\n}\n\nreturn [{json: {outputs, auditEvidence, _has_outputs: outputs.length > 0, _is_production: agentStatus === 'active'}}];"
        }
      },
      {
        "id": "n-build-prompt",
        "name": "Build Eval Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          300
        ],
        "parameters": {
          "jsCode": "const agentNode = $('Extract Agent').first().json;\nconst agentInfo = agentNode.agent_info || {};\nconst agentName = agentNode.agent_name || 'unknown';\nconst telegramCommand = agentNode.telegram_command;\nconst agentStatus = agentNode.status || 'unknown';\nconst outputsArr = $json.outputs || [];\nconst auditEvidence = $json.auditEvidence || [];\nconst isProduction = $json._is_production || false;\n\nfunction flattenContent(content, maxLen) {\n  if (!content) return '(empty)';\n  if (typeof content === 'string') return content.slice(0, maxLen);\n  if (typeof content === 'object') {\n    const STRIP_KEYS = ['connection', '__type', '_meta', 'pairedItem', 'json'];\n    const clean = {};\n    for (const [k, v] of Object.entries(content)) {\n      if (!STRIP_KEYS.includes(k)) clean[k] = v;\n    }\n    return JSON.stringify(clean).slice(0, maxLen);\n  }\n  return String(content).slice(0, maxLen);\n}\n\nlet evidenceSection;\nif (outputsArr.length > 0) {\n  evidenceSection = outputsArr.slice(0,3).map((o, i) => {\n    const contentStr = flattenContent(o.content, 400);\n    return `Output ${i+1} [${o.experiment_id||'?'}] type=${o.output_type||'?'} confidence=${o.confidence||'?'}:\\n${contentStr}`;\n  }).join('\\n\\n');\n} else if (isProduction && auditEvidence.length > 0) {\n  const auditStr = auditEvidence.slice(0,5).map(e => {\n    if (e.source === 'n8n_execution') return `n8n execution: status=${e.status} started=${e.startedAt} mode=${e.mode}`;\n    return `Audit: action=${e.action||'?'} target=${e.target||'?'} at=${e.timestamp||'?'}`;\n  }).join('\\n');\n  evidenceSection = `This is an active production agent that sends output to Telegram (command: ${telegramCommand || 'none'}).\\nNo experimental_outputs expected \u2014 it writes to Telegram. Evidence from execution history:\\n${auditStr}`;\n} else if (isProduction) {\n  evidenceSection = `This is an active production agent (telegram_command: ${telegramCommand || 'none'}).\\nIt sends output to Telegram rather than experimental_outputs. No recent execution records found.\\nEvaluate based on description and architecture.`;\n} else {\n  evidenceSection = 'No outputs recorded yet \u2014 agent has not been run or is newly registered.';\n}\n\n// Status-aware recommendation options\nconst recOptions = isProduction\n  ? 'maintain (keep running as-is)|needs_work (has issues requiring fixes)|retire (should be decommissioned)'\n  : 'promote (ready for production)|keep_sandbox (promising but needs more testing)|needs_work (has issues requiring fixes)|retire (concept not worth pursuing)';\n\nconst prompt = `Evaluate this AADP agent on 4 pillars. Return ONLY valid JSON.\\n\\nAGENT PROFILE:\\nName: ${agentInfo.display_name || agentName}\\nType: ${agentInfo.agent_type || 'unknown'}\\nStatus: ${agentStatus}\\nDescription: ${agentInfo.description || 'No description available'}\\nData Sources: ${JSON.stringify(agentInfo.data_sources || [])}\\nSchedule: ${agentInfo.schedule || 'on_demand'}\\nTelegram Command: ${telegramCommand || 'none'}\\n\\nEVIDENCE (${outputsArr.length} experimental outputs, ${auditEvidence.length} audit/exec records):\\n${evidenceSection}\\n\\nEVALUATION PILLARS:\\n1. behavior_consistency \u2014 Does output/evidence match stated description/purpose?\\n2. output_quality \u2014 Is content well-formed, factually plausible, valuable to Bill?\\n3. reliability \u2014 Would it handle errors/edge cases gracefully?\\n4. integration_fit \u2014 Does it use AADP infrastructure and conventions well?\\n\\nIMPORTANT: Active production agents (status=active) are proven working \u2014 do not penalize for missing experimental_outputs.\\n\\nVALID RECOMMENDATION VALUES for this agent (status=${agentStatus}):\\n${recOptions}\\n\\nReturn this exact JSON (scores 1-5, 1=poor 5=excellent):\\n{\"behavior_consistency\":{\"score\":0,\"notes\":\"\"},\"output_quality\":{\"score\":0,\"notes\":\"\"},\"reliability\":{\"score\":0,\"notes\":\"\"},\"integration_fit\":{\"score\":0,\"notes\":\"\"},\"overall_score\":0,\"recommendation\":\"one of the valid values above\",\"summary\":\"\"}`;\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 700,\n  messages: [{role: 'user', content: prompt}]\n};\nreturn [{json: {haiku_body: JSON.stringify(body), agent_name: agentName}}];",
          "mode": "runOnceForAllItems"
        }
      },
      {
        "id": "n-call-haiku",
        "name": "Call Haiku Evaluator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1320,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "{{CREDENTIAL_REDACTED}}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.haiku_body }}"
        }
      },
      {
        "id": "n-format-eval",
        "name": "Format Evaluation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          300
        ],
        "parameters": {
          "jsCode": "const haikuResp = $json;\nconst buildNode = $('Build Eval Prompt').first().json;\nconst agentName = buildNode.agent_name || 'unknown';\n\nconst raw = (haikuResp.content && haikuResp.content[0]) ? haikuResp.content[0].text : '{}';\nlet parsed = {\n  behavior_consistency:{score:3,notes:'parse_failed'},\n  output_quality:{score:3,notes:'parse_failed'},\n  reliability:{score:3,notes:'parse_failed'},\n  integration_fit:{score:3,notes:'parse_failed'},\n  overall_score:3, recommendation:'keep_sandbox', summary:'Evaluation incomplete'\n};\ntry {\n  const s = raw.indexOf('{');\n  const e = raw.lastIndexOf('}');\n  if (s >= 0 && e > s) parsed = JSON.parse(raw.slice(s, e+1));\n} catch(err) {}\n\nconst today = new Date().toISOString().slice(0,10);\nconst record = {\n  agent_name: agentName,\n  experiment_id: `4pillars_eval_${agentName}_${today}`,\n  output_type: '4pillars_evaluation',\n  content: parsed,\n  confidence: ((parsed.overall_score || 3) / 5.0),\n  promoted: false,\n  reviewed_by_bill: false\n};\nreturn [{json: {body_json: JSON.stringify(record), eval_summary: parsed.summary || '', recommendation: parsed.recommendation || '', overall_score: parsed.overall_score || 0}}];"
        }
      },
      {
        "id": "n-write",
        "name": "Write to Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1760,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://cihbfubghytzqrpffgcq.supabase.co/rest/v1/experimental_outputs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{CREDENTIAL_REDACTED}}"
              },
              {
                "name": "apikey",
                "value": "{{CREDENTIAL_REDACTED}}"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.body_json }}"
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Input": {
        "main": [
          [
            {
              "node": "Get Agent Registry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Agent Registry": {
        "main": [
          [
            {
              "node": "Extract Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Agent": {
        "main": [
          [
            {
              "node": "Get Recent Outputs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Recent Outputs": {
        "main": [
          [
            {
              "node": "Build Eval Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Eval Prompt": {
        "main": [
          [
            {
              "node": "Call Haiku Evaluator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Haiku Evaluator": {
        "main": [
          [
            {
              "node": "Format Evaluation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Evaluation": {
        "main": [
          [
            {
              "node": "Write to Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "William Thompson",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T17:40:06.385Z",
        "id": 343,
        "workflowId": "kQ5OALBwexLQS7in",
        "versionId": "4bcf9bfe-fe56-4f33-b81c-56e273c853a9",
        "event": "activated",
        "userId": "85fd8a0b-d1ed-4bfc-a75a-7c96dafb4792"
      }
    ]
  },
  "_meta": {
    "archived_at": "2026-03-30",
    "changes": "Webhook GET; Parse Input query params; promoted to active"
  }
}